<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}
        <title>My app</title>
    {% endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% block extracss %}
  {% endblock %}
  </head>
  <body>
    {% block body %}
    {% endblock %}
  </body>
</html>
