{% extends 'base.html' %}

{% block title %}
    <title>Chat | MyApp</title>
{% endblock %}

{% block body %}
    <div id="chat-logs"></div>

    <form id="form">
        <label>
            Your name
            <input id="author" type="text" required>
        </label>
        <label>
            Your message
            <textarea id="message" required></textarea>
        </label>
        <button type="submit">Send</button>
    </form>

    <script>
        const chatLogs = document.getElementById("chat-logs");
        const chatForm = document.getElementById("form");
        const chatSocket = new WebSocket(`ws://${location.host}/ws/chat`);

        chatForm.addEventListener("submit", event => {
            event.stopPropagation();
            event.preventDefault();
            const author = document.getElementById("author").value;
            const message = document.getElementById("message").value;
            const date = new Date();

            chatSocket.send(JSON.stringify({
                author,
                message,
                date: date.toLocaleString(),
            }))
        });

        chatSocket.addEventListener("message", (event) => {
            const data = JSON.parse(event.data);

            const message = document.createElement("div");
            const metadata = document.createElement("div");

            const author = document.createElement("strong");
            author.innerText = data.author;
            metadata.appendChild(author);

            metadata.append(document.createTextNode(" "));

            const date = document.createElement("em");
            date.innerText = data.date;
            metadata.appendChild(date);

            const text = document.createElement("p");
            text.innerText = data.message;
            message.appendChild(metadata);
            message.appendChild(text);
            chatLogs.appendChild(message);
        });
    </script>
{% endblock %}
