{% extends 'base.html' %}
{% load static %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="stylesheet" href="{% static 'list.css' %}">
{% endblock %}

{% block title %}
    <title>Home page | MyApp</title>
{% endblock %}

{% block body %}
    <p>{{ view_name }}</p>

    <ul>
        {% for name in names %}
        <li>{{ name }}</li>
        {% endfor %}
    </ul>
{% endblock %}
