{% extends 'base.html' %}

{% block title %}
    <title>SSE | MyApp</title>
{% endblock %}

{% block body %}
    <ol id="names"></ol>

    <script type="application/javascript">
        const source = new EventSource("/stream-messages");
        const listOfNames = document.querySelector("#names");

        source.addEventListener("message", event => {
            const data = JSON.parse(event.data);
            if (data.status === "done") {
                source.close();
                return;
            }

            const li = document.createElement("li");
            li.innerText = data.name;
            listOfNames.appendChild(li);
        });
    </script>
{% endblock %}
